* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f4f9; /* Fondo más suave */
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333;
}
/*INICIO DE EL NAV BAR */
.topnav{
    background-color: #3E5DD2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.fig{
    padding-left: 15px;
}
#fig-image{
    width: 40px;
    height: auto;
}
.navbar{
    display: flex;
}
.navbar ul{
    list-style-type: none;
    display: flex;
}
.navbar ul li{
    margin: 0 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    position: relative; /* Necesario para el subrayado */
    padding-bottom: 4px; /* Espacio abajo para el subrayado */
    transition: color 0.3s ease, border-bottom 0.3s ease; /* Transición suave */
}
.navbar a{
    padding: 40px;
}
.navbar a:hover{
    cursor: pointer;
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
    padding: 20px;
}
.navbar ul li a::after {
    content: '';
    position: absolute;
    width: 100%; 
    height: 2px;
    background-color: transparent; 
    bottom: 0; 
    left: 0;
    transition: background-color 0.3s ease; 
}
.navbar ul li a:hover {
    color: rgb(182, 51, 182); /* Color del texto al pasar el mouse */
}

.navbar ul li a:hover::after {
    background-color:purple; /* Color de la línea al pasar el mouse */
}
/*FIN NAVBAR*/

/*INICIO DEL WELCOME*/
.welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #4b4cb6;
    color:bisque
}
.welcome-section h1{
    font-size: 5rem;
    padding-bottom: 4rem;
}
.welcome-section h1:hover{
    cursor:pointer;
    transform: scale(1.05);
}
.welcome-section h3{
    color: greenyellow;
    font-size: 1.5rem;
}
.welcome-section p{
    justify-content: left;
    margin: 20px;
    text-align: justify;
    width: 60%;
    padding-right: 20%;
}
/*FIN WELCOME*/